.wrapper {
  width: 100%;
  box-sizing: border-box;
  color: #fff;
  margin: 0;
  padding: 17px 8px;
  padding-top: 12px;
  position: fixed;
  top: 0;
  font-family: 'Open Sans', serif;
}

.black-color {
  color: #000;
}

.white-color {
  color: #fff;
}

i.fa.fa-graduation-cap {
  font-size: 21px;
  line-height: 1.0;
}

.navbar {
  display: flex;
  align-items: baseline;
  -webkit-font-smoothing: antialiased;
}

.navbar ul {
  flex: 1;
  list-style: none;
  marign: 0;
  padding: 0;
  display: flex;
}

.navbar .brand > i{
  margin-left: 6px;
}
.navbar li:first-of-type {
  margin-left: auto;
}

.navbar li {
  text-align: right;
  margin-right: 1.5%;
  letter-spacing: 1px;
  line-height: 1.2;
}

.navbar li > a {
  text-decoration: none;
  display: inline-block;
  font-size: 0.8rem;
}

.navbar li > a::after {
   content: '';
   display: block;
   margin-top:2px;
   width: 0;
   height: 3px;
   background: #000;
   box-sizing: border-box;
   transition: width .3s;
}

.navbar li > a:active::after, .navbar li > a:hover::after {
  width: 100%;
}

.bg {
  background-image: url("https://images.unsplash.com/photo-1441311956160-78a471e0638d?dpr=1.125&auto=format&fit=crop&w=1080&h=720&q=80&cs=tinysrgb&crop=");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
}

.headroom {
    will-change: transform;
    transition: transform .3s linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}

.center-title {
  margin: auto;
  font-family:  'Didact Gothic';
  text-align: center;
  padding-bottom: 70px;
  color: #fff;
}

small {
  color: rgba(255, 255, 255, 0.8);
}

h1 {
  font-family: 'Didact Gothic';
  margin-top: 0px;
  text-align: center;
}

.container {
  max-width: 800px;
  margin:5% auto;
  padding:0 12px;
}

.page {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin-top: 0px;
  padding-top: 100px;
  box-sizing: border-box;
  height: 700px;
}

h4 {
  font-weight: 100;
  margin-bottom: 10px;
}


div > a {
  font-size: 1.1rem;
  color: rgba(255,255,255,0.8);
  font-family: serif;
  font-style: italic;
}

body {
   font-size: 18px;
}

.example-enter {
  opacity: 0.01;
  transform: translate3d(0, 100%, 0);
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.example-enter.example-enter-active {
  opacity: 1;
  transform: none;
}

.example-leave {
  opacity: 1;
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.example-leave.example-leave-active {
  opacity: 0;
  transform: translate3d(0, 100%, 0);
}

.page-title {
  margin: 5% 0 12% 0;
}
