/*** Table Of Contents ***/
/*
  1. Global Reset
  2. Global Typogprahy
  3. Navbar
  4. Page Containers
  5. Landing Page
  6. Headroom
  7. Page Tranistions
  8. Media Queries
  9. Utility Classes
 */


/*** 1. Global Reset ***/
html {
  min-height: 100%;
}

body {
  margin:0;
}

ul {
  margin:0;
  list-style: none;
  padding:0;
}
/*** End of Global Reset ***/



/*** 2. Global Typography ***/
h1,h2,h3,h4,h5,h6 {
  line-height: 1.2;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
}

html { font-size: 16px; font-family: 'Lato', sans-serif;}
h1 { font-size: 3rem; }
h2 { font-size: 2.5rem; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1rem; }
p { line-height: 1.2; }
a { font-size: 0.9rem;}
/*** End of Typography ***/



/*** 3. Navbar ***/
header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

.navbar {
  display: flex;
  flex-direction: row;
  padding: 12px;
  color: #fff;
  background: #4b4b4b;
  border-bottom: 1px solid #403939;
  box-shadow: 0px 1px 3px 2px rgba(0,0,0,0.19);
}

.navbar-brand {
  flex:2;
}

i.fa.fa-graduation-cap {
  font-size: 21px;
  line-height: 1.0;
  color: #fff;
}

.navbar ul {
  flex:1;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.navbar-link {
  margin-right: 8%;
}

.navbar-link a {
  width:0;
  text-decoration: none;
  color: inherit;
}

.navbar-link a::after {
  content: '';
  display: block;
  margin-top:2px;
  width: 0px;
  height: 2px;
  background: #fff;
  box-sizing: border-box;
  transition: width .3s ease-in-out;
}

.navbar-link > a:hover, .navbar-link > a:hover::after {
  width: 100%;
}
/*** End of Navbar ***/



/*** 4. Page Containers ***/
.page {
  width: 100%;
  padding-top: calc(100vh * 1/10);
  padding-bottom: calc(100vh * 3/10);
  min-height: calc(100vh * 1);
}

.page-title {
  text-align: center;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 0;
  color: #aaa;
}

.footer-content {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  background: rgba(32,32,27,1);
  text-align: center;
  padding: 12px 4px;
}

.footer-content section {
  flex:1;
  color: #555;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
  min-height: 120px;
  max-height: 160px;
}

.footer-made-by {
  text-align: center;
  background: rgba(31,29,27,1);
  color: #444;
  font-size: 0.9rem;
}

.container {
  margin: 0 auto;
  max-width: 720px;
  padding: 12px 11px;
}

.container-fluid {
  width: 100%;
}

.container-fluid, .container {
  overflow: hidden;
}

.container > p, .container-fluid > p {
  font-size: 1.5rem;
  line-height: 1.4;
}

.contact-gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
}

.icon-box {
  min-width: 400px;
  max-width: calc(50vw - 20);
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  background: #555;
  color: #fff;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,0.19);
  box-shadow: 0px 1px 3px 2px rgba(0,0,0,0.24);
  cursor: pointer;
  tnrasform: scale(1.0);
  transition: background .3s ease, transform .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.icon-box:hover {
  background: #333;
  transform: scale(1.05);
}

/*** End of Page Containers ***/



/*** 5. Landing Page ***/
.landing-pg-fullscreen {
  background-image: url("http://www.technobuffalo.com/wp-content/uploads/2014/07/new-york-city.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 400px;
  height: calc( 100vh * 1 );
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-pg-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-pg-title h1 {
  margin: 0;
  color: #fff;
}

.landing-pg-title h3 {
  font-size: 1.25rem;
  color: #fff;
}

.landing-pg-title h3, .landing-pg-title h1 {
  font-family: 'Didact Gothic';
}

.landing-pg-image {
  display: block;
  width: 20%;
  height: 20%;
  box-shadow: 0px 0px 13px 5px rgba(0,0,0,0.12);
  border: 1px solid rgba(0,0,0,0.1);
}
/*** End of Landing Page ***/



/*** 6. Headroom styles ***/
.headroom {
    will-change: transform;
    transition: transform .3s linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}
/*** End of Headroom styles ***/



/*** 7. Page Transitions ***/
.page-enter {
  opacity: 0.01;
  transform: translate3d(0, 100%, 0);
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.page-enter.page-enter-active {
  opacity: 1;
  transform: none;
}

.page-leave {
  opacity: 1;
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.page-leave.page-leave-active {
  opacity: 0;
  transform: translate3d(0, 100%, 0);
}
/*** End of Page Transitions ***/



/*** 8. Respsonive Media Queries ***/
/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
  html { font-size: 13px;}
  h1 { font-size: 2.5rem;}
  .footer-content { flex-direction: column;}
}
/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
  h1 { font-size: 2.5rem;}
  html { font-size: 13px;}
  .footer-content { flex-direction: column;}
}

@media only screen and (min-width : 480px) {
  h1 {font-size: 3rem;}
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 846px) {
  html { font-size: 15px;}
  .footer-content {flex-direction: row;}
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
  html { font-size: 16px;}
  .footer-content {flex-direction: row;}
}
/*** End of Resposnive Media Queires ***/



/*** 9. Utility classes ***/
.rounded-img {
  border-radius: 50%;
}
